node_modules

built/*
!built/package.json

plugins/*
!plugins/chaturbate.py
!plugins/myfreecams.py
!plugins/stripchat.py
!plugins/bongacams.py
!plugins/camsoda.py
!plugins/cam4.py
!plugins/streamate.py

*.css
*.reg
*.log
package-lock.json
sketches
configs
browser
far
edits
recorded
recording
vars.bat
settings.json
casts
snaps
batch
nodus/build
