node_modules
built/*
!built/package.json
*.css
*.reg
*.log
package-lock.json
sketches
configs
browser
far
edits
recorded
recording
vars.bat
settings.json
casts
snaps
batch
nodus/build
