node_modules

built/*
!built/package.json

plugins/*
tmp/*

*.css
*.reg
*.log
package-lock.json
sketches
configs
browser
far
edits
recorded
recording
vars.bat
./settings.json
casts
batch
nodus/build
venv
__pycache__
*.pyc

ed
configs
notes
