
body {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
}


@import './candidate.less';

@off: 7px;
@look-through: 0.5;
@warning-color: #a00;
@welcome-color: #080;
.off(@factor: 1) { margin-top: @factor * @off; margin-left: @factor * @off; }
.off { .off(); }

.app {
    padding-bottom: 50%;
}

.app.as-no-scope-ranks .candidate .candidate-rank { display: none; }
.app.as-no-scope-ranks .candidate.as-out-of-rank .candidate-rank { display: initial; }

.wall {
    .off();
    border-left: solid 1px gray;
}

.toolbar {
    .off();
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    padding-bottom: @off;
}
