.app {
    padding-left: 10px;
}

.app.as-unsafe .candidate-image {
    visibility: hidden;
    position: absolute;
}

.app-curtain {
    position: fixed;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 80px;
    color: white;
    background-color: #00000050;
}

.app-lab {
    position: fixed;
    top: 100px; left: 10px;
    background-color: #00000050;
}

