.app {
    padding-bottom: 50%;
}

.app.as-no-scope-ranks .candidate .candidate-rank {
    display: none;
}

.app.as-no-scope-ranks .candidate.as-out-of-rank .candidate-rank {
    display: initial;
}

.app.as-unsafe .candidate-image {
    filter: grayscale() invert(1.0) blur(20px);
}
