.configurator-presenter {
    line-height: 30px;
}

.configurator-presenter+.configurator-presenter {}

configurator-radio-list {}

.configurator-radio-list-option {
    input {
        position: relative;
        top: +3px;
    }
}

.configurator-radio-list-option+.configurator-radio-list-option {
    margin-left: 5px;
}