.flyout {
    position: fixed;
    top: 50%;
    left: 100%;
    margin-left: -200px;
    padding: 50px 100px;
    border-radius: 8px;
    font-size: 120px;
    white-space: nowrap;
    background-color: black;
    color: white;

    &.as-meh {
        background-color: @background-color-meh;
        color: darken(@background-color-meh, 80%);
    }

    &.as-yes-or-pin {
        background: linear-gradient(135deg, #FFD700, #FFA500, #FF8C00);
        /* gold tones */
        color: black;
        font-weight: bold;

        /* White text stroke (outline) */
        -webkit-text-stroke: 1px white;
        text-shadow:
            1px 1px 0 white,
            -1px 1px 0 white,
            1px -1px 0 white,
            -1px -1px 0 white;

        /* &::before { // <-- its layering on top, BORDER PROBLEM
            content: '';
            position: absolute;
            top: -4px;
            left: -4px;
            right: -4px;
            bottom: -4px;
            background: linear-gradient(135deg, #A67C00, #8B5E00);
            border-radius: 16px;
            z-index: -1;
        }
        */

    }
}

.flyout {
    @stay-time: 0.5s;
    @fly-time: 0.05s;

    &.as-animated {
        animation:
            flyIn @fly-time ease-in forwards,
            flyOut @stay-time ease-out forwards (@stay-time+@fly-time);
    }
}

@keyframes flyIn {
    from {
        left: 100%;
    }

    to {
        left: 50%;
    }
}

@keyframes flyOut {
    from {
        left: 50%;
    }

    to {
        left: -100%;
    }
}