.reorder-list {
    display: flex;

    &.as-vertical {
        flex-direction: column;
    }

    &.as-horizontal {
        flex-direction: row;
    }
}

.reorder-list-item {
    position: relative;
    padding: 10px;
    border: solid 1px gray;

    &.as-dragged {
        opacity: 0.1;
    }

    &.as-holding-place-at-top {
        border-top-width: 4px;
    }

    &.as-holding-place-at-bottom {
        border-bottom-width: 4px;
    }

    &.as-holding-place-at-left {
        border-left-width: 4px;
    }

    &.as-holding-place-at-right {
        border-right-width: 4px;
    }

    padding-left: 20px;
}

.reorder-list-item-drag-handle {
    cursor: grab;
    width: 16px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;

    background-image: repeating-linear-gradient(45deg,
            /* 👈 angle here */
            #999,
            #999 2px,
            transparent 2px,
            transparent 4px);

}